#### 1. Modules importing and data cleaning

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('countries.csv', sep=';')
df = df.drop(index=0) # Data types

# Drop null oro NaN values
# df.dropna(axis=0, how='any')

C:\Users\Jacob\AppData\Local\Temp\ipykernel_24772\2988080732.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [8]:
# df['GDP - per capita'].hist(bins=20)
# plt.title('Histogram of GDP per capita')
# plt.xlabel('GDP per capita')
# plt.ylabel('Frequency')
# plt.show()

# Histogram of GDP (ordered descending)
gdp_his = df.sort_values(by='GDP', ascending=False)
gdp_his.dropna(axis=0, how='any')
#gdp_his = gdp_his.loc[:, ['Country', 'GDP', 'GDP - per capita', 'GDP - real growth rate(%)']]
gdp_his = gdp_his.loc[:, ['Country', 'GDP']]
gdp_his = gdp_his.head(10)
#gdp_his = gdp_his.pivot(columns='Country', values=['GDP', 'GDP - per capita', 'GDP - real growth rate(%)'])
gdp_his = gdp_his.astype(str)

gdp_his

# fig, axes = plt.subplots(nrows=1, ncols=3, figsize=(15, 5))
# fig.tight_layout()

# axes[0].hist(gdp_his['GDP'],
#              bins=10,
#              color='blue',
#              alpha=0.5)

# plt.hist(gdp_his, bins=10, color=['blue', 'red'])
# plt.xlabel('Countries')
# plt.ylabel('GDP')

# plt.show()

                      Country           GDP
178                     Niger    9716000000
262                    Zambia    9409000000
208                San Marino     940000000
222                     Spain  937600000000
113                   Iceland    9373000000
134               Korea South  925100000000
176               New Zealand   92510000000
146                     Macau    9100000000
182  Northern Mariana Islands     900000000
117                      Iraq   89800000000